<div class="">
  <a id="rss" href="https://feeds.transistor.fm/a-failure-to-disagree">RSS</a> 
  · 
  <a id="apple_podcast" href="https://podcasts.apple.com/us/podcast/a-failure-to-disagree/id1557156888">Apple Podcasts</a>
  · 
   <a id="spotify" href="https://open.spotify.com/show/6KfCYCmGLZFVrqJWDtB6jx">Spotify</a>
  · 
  <a id="pocket_casts" href="https://pca.st/vhluh2c1">Pocket Casts</a>
  .
  <a id="google_podcasts" href="https://podcasts.google.com/feed/aHR0cHM6Ly9mZWVkcy50cmFuc2lzdG9yLmZtL2EtZmFpbHVyZS10by1kaXNhZ3JlZQ==">Google Podcasts</a>
  .
  <a id="player_fm" href="https://player.fm/series/a-failure-to-disagree">Player FM</a>
  
</div>
